

.btn{
    padding: 10px;
    width: 300px;
    height: 80px;
    margin: 20px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    background: rgb(78, 154, 253);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.411) ;
}

.btn:hover{
    background: rgb(57, 128, 221);
}

